$darkRed: #be1116;

.form-wrap {
   display: flex;
   justify-content: center;
   align-items:  center;
   background: rgba(0, 0, 0, 0.541);
   min-height: 100%;
   background: -webkit-linear-gradient(bottom right, #121212, #616161);
   background: -moz-linear-gradient(bottom right, #121212, #616161);
   background: linear-gradient(to top left, #121212, #616161);
   overflow: hidden;
}

.form {
   position: relative;
   padding: 50px;
   width: 100%;
   max-width: 800px;
   background: #eeeee7;
   border: 2px solid black;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   &::after{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 20px;
      left: 20px;
      border: 5px solid red;
      z-index: -1;
   }
   & .form__title {
      font-weight: bold;
      @include adaptiv-font(35, 20);
      position: relative;
      &::before{
         content: '';
         display: block;
         width: 50px;
         height: 3px;
         background: $darkRed;
         position: absolute;
         top: 50%;
         left: -70px;
         transform: translateY(-50%);
      }
   }
   & .form__content {
      flex: 1 1 auto;
      padding: 50px 50px 20px;
      font-size: 16px;
      & .form__input-wrap {
         & span{
            opacity: 0;
            display: block;
            transition: all 0.5s ease;
            margin-bottom: 10px;
            color: $darkRed; 
         }
         & input {
            padding: 5px 10px;
            display: block;
         }
         margin-bottom: 20px;
         &:last-child {
            margin-bottom: 0;
         }
      }
      & .form__input-wrap.focused {
         & span{
            opacity: 1;
         }
      }
   } 
   & .form__btn {
      background: $darkRed;
      padding: 13px 20px;
      color: #fff;
      position: relative;
      animation: move 5s ease;
      @include adaptiv-font(18, 15);
      &:hover{
         animation: puls 1s infinite ease;
      }
   }
   @media (max-width: 500px) {
      &::after{
         display: none;
      }
      .form__content {
         padding: 20px;
      }
      border: none;
      min-height: 100vh;
   }
}

@keyframes puls {
   0%{
      transform: scale(1);
   }
   50%{
      transform: scale(1.1);
   }
   100%{
      transform: scale(1);
   }
}

.error-field {
   box-shadow: 5px 5px 5px $darkRed;
   transition: all 0.5s ease;
}

.form__error {
   margin-bottom: 30px;
   font-size: 17px;
   @include adaptiv-font(17, 14);
   color: $darkRed;
}


.form__success {
   margin-bottom: 30px;
   font-size: 17px;
   @include adaptiv-font(17, 14);
   color: darkgreen;
}

.form__data{
   @include adaptiv-font(17, 14);
   & h2{
      margin-bottom: 15px;
      text-align: center;
   }
   & div{
      margin-bottom: 10px;
      &:last-child{
         margin-bottom: 0;
      }
   }
   & span{
      font-weight: bold;
      color: green
   }
   margin-bottom: 30px;
   display: none;
}


input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.5s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.5s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.5s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.5s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.5s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.5s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.5s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.5s ease;}